/*Yellowtail, Header title and subtitle:     
font-family: 'Yellowtail', cursive;*/
@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");

/*Ballo Chettan 2, Header button:
font-family: "Baloo Chettan 2", cursive;*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

/*Courgette, Story Title:
font-family: 'Courgette', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');