body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 138, 8);
  margin: auto;
}

.main {}

.header {
  color: rgb(8, 138, 8);
  background-color: rgb(223, 152, 0);
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-title {

  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-subtitle {

  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-options {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Baloo Chettan 2", cursive;
    font-size: medium;
    outline: none;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: 0.3s;
    line-height: 20px;
  }

  button:hover {
    font-size: large;
    color: rgb(6, 126, 6);
  }
}

h2:after,
h2:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #000000;
}

h2 {
  text-align: center;
  display: grid;
  grid-template-columns: 500px max-content 500px;
  grid-template-rows: 20px 0;
  grid-gap: 5px;
  justify-content: center;
}

.top-banner {
  display: block;

  img {
    width: 100vw;
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
button {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.story-section {


  .story-title {
    text-align: center;
    font-family: "Courgette", cursive;
    color: white;

  }

  @media (max-width: 700px) {
    .grid {
      display: grid;

      grid-template-areas:
        'image'
        'text';
    }
  }

  .grid {

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 500px));
    grid-template-areas: "image text";




    .grid-item img {
      grid-area: image;
    }

    .grid-item p {
      grid-area: text;
      color: white;

    }
  }
}