html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {

  background-color: rgb(8, 138, 8);
}

.main {}

.header {
  color: rgb(8, 138, 8);
  background-color: rgb(223, 152, 0);
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  position: sticky;
  text-shadow: 1px 1px black;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-title {

  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-subtitle {

  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-options {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;

  button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Baloo Chettan 2", cursive;
    font-size: medium;
    outline: none;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: 0.3s;
    line-height: 20px;
    text-shadow: 1px 1px black;

  }

  button:hover {
    font-size: large;
    color: rgb(6, 126, 6);
  }
}

h2:after,
h2:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #000000;
}

h2 {
  text-align: center;
  display: grid;
  grid-template-columns: 500px max-content 500px;
  grid-template-rows: 20px 0;
  grid-gap: 5px;
  justify-content: center;
}

.top-banner {
  display: block;

  img {
    width: 100vw;
    overflow: hidden;
    box-shadow: 5px 5px 2px black;

  }
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
button {
  /*Comment this out so live server changes won't be interrupted by opacity changes*/
  /*
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;*/
  text-shadow: 1px 1px black;

}

.story-section {

  .story-title {
    text-align: center;
    font-family: "Courgette", cursive;
    color: white;

  }


  .grid {

    /*display: grid;
    align-items: center;
    grid-template-areas: "image text";    
    grid-template-columns: auto-fit minmax(200px,400px);
    margin-left: 12vw;
    margin-right: 12vw;
  
    gap: 10px;*/

    display: grid;
    grid-template-rows: auto repeat(2, auto);
    grid-template-columns: 1fr;
    grid-template-areas: '....'
                          'text'
                          '....';
                          grid-template-columns: [image-start] auto [image-end];
                          grid-template-rows: [image-start] 12vh [image-end];
    .grid-item img {
      grid-area: image;
  /*max-height: 100%;*/
    align-self: stretch;
        object-fit: cover;
        width: 100%;
    box-shadow: 5px 5px 2px black;
    }
    .grid-item p {
    grid-area: text;
    color: white;
    font-size: x-large;  
    margin-left: 5%;
    font-family: 'Farsan', cursive;
    }
  }

  @media (min-width: 640px)  {
    .grid {
      display: grid;
      align-items: center;
      grid-template-areas: "image text";    
      grid-template-columns: auto-fit minmax(200px,400px);
      grid-template-rows: none;
      margin-left: 12vw;
      margin-right: 12vw;
    
      gap: 10px;
    }

    .grid-item img {
      grid-area: image;
  /*max-height: 100%;*/
   
    box-shadow: 5px 5px 2px black;
    }

    .grid-item p {
    grid-area: text;
    color: white;
    font-size: x-large;  
    font-family: 'Farsan', cursive;
    }
}
  }

