html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #088a08;
}

.header {
  color: #088a08;
  background-color: #df9800;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  text-shadow: 1px 1px black;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-title {
  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-subtitle {
  text-align: center;
  font-family: "Yellowtail", cursive;
}

.header-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
}

.header-options button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Baloo Chettan 2", cursive;
  font-size: medium;
  outline: none;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 20px;
  text-shadow: 1px 1px black;
}

.header-options button:hover {
  font-size: large;
  color: #067e06;
}

h2:after,
h2:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #000000;
}

h2 {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px max-content 500px;
      grid-template-columns: 500px -webkit-max-content 500px;
      grid-template-columns: 500px max-content 500px;
  -ms-grid-rows: 20px 0;
      grid-template-rows: 20px 0;
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-banner {
  display: block;
}

.top-banner img {
  width: 100vw;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 2px black;
          box-shadow: 5px 5px 2px black;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
button {
  /*Comment this out so live server changes won't be interrupted by opacity changes*/
  /*
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;*/
  text-shadow: 1px 1px black;
}

.story-section .story-title {
  text-align: center;
  font-family: "Courgette", cursive;
  color: white;
}

.story-section .grid {
  /*display: grid;
    align-items: center;
    grid-template-areas: "image text";    
    grid-template-columns: auto-fit minmax(200px,400px);
    margin-left: 12vw;
    margin-right: 12vw;
  
    gap: 10px;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto (auto)[2];
      grid-template-rows: auto repeat(2, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: '....' 'text' '....';
  -ms-grid-columns: [image-start] auto [image-end];
      grid-template-columns: [image-start] auto [image-end];
  -ms-grid-rows: [image-start] 12vh [image-end];
      grid-template-rows: [image-start] 12vh [image-end];
}

.story-section .grid .grid-item img {
  grid-area: image;
  /*max-height: 100%;*/
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-box-shadow: 5px 5px 2px black;
          box-shadow: 5px 5px 2px black;
}

.story-section .grid .grid-item p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  color: white;
  font-size: x-large;
  margin-left: 5%;
  font-family: 'Farsan', cursive;
}

@media (min-width: 640px) {
  .story-section .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "image text";
    -ms-grid-columns: auto-fit minmax(200px, 400px);
        grid-template-columns: auto-fit minmax(200px, 400px);
    -ms-grid-rows: none;
        grid-template-rows: none;
    margin-left: 12vw;
    margin-right: 12vw;
    gap: 10px;
  }
  .story-section .grid-item img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    /*max-height: 100%;*/
    -webkit-box-shadow: 5px 5px 2px black;
            box-shadow: 5px 5px 2px black;
  }
  .story-section .grid-item p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    color: white;
    font-size: x-large;
    font-family: 'Farsan', cursive;
  }
}
/*# sourceMappingURL=style.css.map */