.container {
    color: rgb(6, 126, 6);
    background-color: red($color: #000000);
    background: fixed;

}

.header {
    color: rgb(6, 126, 6);
    background: rgb(223, 152, 0);
    overflow: hidden;
    width: 100%;
}

.header-title {
    text-align: center;
    font-family: 'Yellowtail', cursive;

}

.header-subtitle {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

h2:after,
h2:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #000000;
}

h2 {
    text-align: center;
    display: grid;
    grid-template-columns: 200px max-content 200px;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    justify-content: center;
}